
{% extends "base.html" %}
{% block title %}Edit user {{ u.name }} information{% endblock %}
{% block header %}Edit user {{ u.name }} information{% endblock %}
{% block content %}
    <form method="POST" action="{{ url_for('edit_user', user_id=u.id) }}">
        <table>
            {% for field in form %}
                <tr>
                    {% if field.type == 'BooleanField' %}
                        <td>{{ field }} {{ field.label }}</td>
                        <td></td>
                    {% elif field.type == 'SubmitField' %}
                        <td>{{ field }}</td>
                        <td></td>
                    {% else %}
                        <td>{{ field }}</td>
                        <td>{{ field.label }}</td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
    </form>
{% endblock %}